/* CSS Document */
/*-------------------------------------------------
GLOBALS & GENERAL CASES
-------------------------------------------------*/
* {margin:0;padding:0;}
body {background:#ffffff;font-family: 'Noto Sans', serif;font-size:12px;color:#ffc01d;}

h1{
	font-family: 'Noto Sans', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}
h2{font-family: 'Noto Sans', sans-serif; font-size:20px; text-transform: uppercase; font-weight:normal;}
h3{font-family: 'Noto Sans', sans-serif; font-size:14px; text-transform: uppercase; font-weight:normal;}
h4{ color:#ffc01d; font-size:15px; font-weight:normal; font-family: 'Noto Sans', serif;} 
h6{ color:#ffc01d; font-size:14px; font-weight:normal;}

p{
	font-size: 15px;
	font-family: 'Noto Sans', sans-serif;
    color: #000
        
}
a{ color:#fff; text-decoration:none;}
a:hover{ color:#ffc01d;}
.clear{clear:both;}
.title{ margin-bottom:30px;}
.title h1{ color:#ffc01d;}
.title h2{ color:#fff;}
/*-------------------------------------------------
body sytles start
-------------------------------------------------*/
.border-bottom{border-bottom:none!important;}
.marRight30{margin-right:30px;}
.button a{ font-family: 'Noto Sans', sans-serif; font-size:14px; text-transform: uppercase; text-decoration:none; color:#000000;}
.button a:hover{ color:#fff;}


.wrapper{ width:980px; margin:0 auto;}
.page-wrapper{width:960px; margin:0 auto; margin-top:-30px;}
.wrapper2{ width:960px; margin-bottom:60px; overflow:hidden;}
/*-------------------------------------------------
PANEL  
-------------------------------------------------*/
.services{ width:300px; float:left;}
.services .ititle h1{
	color: #000000;
	margin-bottom: 10px;
}
.services img{ margin-bottom:30px;}
.services .content p{ font-family: "Noto Sans", sans-serif; color:#000000; font-size:16px;}
.services .content .button{ background:url(../images/button2.png) no-repeat; width:80px; height:30px; text-align:center; line-height:30px; margin-top:30px; margin-bottom:70px; font-weight:bold;}

/*-------------------------------------------------
HEADESECTION 
-------------------------------------------------*/
.header-wrapper{ background:#000000;}
.logo{float:left; width:300px; height:120px; padding-top:50px; text-align:center; background:url(../images/logobg.png) no-repeat center;position:absolute;}
.logo h1{ color:#ffffff; font-size:35px;font-weight:normal;}
.logo span{ color:#ffffff; font-size:14px;}

.menu{ float:right; padding-top:38px;}
.menu ul li{list-style:; margin-right:5px;}
.menu ul li a{ color:#ffffff; text-decoration:none; font-family: 'Noto Sans', sans-serif; font-size:16px; text-transform: uppercase;}
.menu ul li a:hover{ color:#ffc01d;}
.menu ul li a.active{ color:#ffc01d;}

/*-------------------------------------------------
BANNER SECTION 
-------------------------------------------------*/
.banner-wrapper{background:#fff; overflow:hidden;}
.banner{width:960px; margin:0 auto; padding-top:60px; overflow:hidden;}
.banner img{float:right; margin-top:30px;}
.banner .content{ float:left; overflow:hidden; color:#000000;}
.banner .content{overflow:hidden; }
.banner .content .title{ float:left;}
.banner .content .title h1{ font-size:95px; color:#ffffff; font-weight:normal; margin-top:75px;}
.banner .content .title span{ color:#000000; font-size:30px;}
.banner .content .button{ background:url(../images/button.png) no-repeat; width:170px; height:50px; text-align:center; line-height:50px; margin-top:50px; margin-bottom:116px;}
.banner .content .button:hover{ background:url(../images/button-hover.png) no-repeat; width:170px; height:50px; text-align:center; line-height:50px; margin-top:50px; margin-bottom:116px;}
.banner .content .button a{font-family: 'Noto Sans', sans-serif; font-size:25px; text-transform: uppercase; text-decoration:none; color:#ffc01d;}
.banner .content .button a:hover{ color:#ffc01d;}

/*-------------------------------------------------
PAGE CONTENT SECTION 
-------------------------------------------------*/

.page-content{background:#ffffff; overflow:hidden;}
.page{width:960px; margin:0 auto; margin-top:80px;}
.panel{ width:100%; p`adding-bottom:30px;}
.panel .title{ margin-bottom:30px;}
.panel .title h1{
	color: #ffffff;
	text-transform: uppercase;
    font: "Noto Sans"
}
.panel .title h2{ color:#000000; font-size:24px;}
.panel .content p{
	color: #ffc01d;
	padding-bottom: 1px;
}


/*-------------------------------------------------
SERIVES SECTION 
-------------------------------------------------*/
.serivces{width:960px; margin:0 auto; margin-top:130px;}
.serivces .panel{ float:left;}


/*-------------------------------------------------
BOX SECTION 
-------------------------------------------------*/
.box{ width:280px; overflow:hidden; float:left; padding:45px 20px 45px 20px;}
.box .icon{float:left; margin-right:20px;}
.box .content{ float:left;}
.box .content h2{color:#ffffff;}
.bg-color1{ background:#ffc01d;}
.bg-color2{ background:#ffc01d;}
.bg-color3{ background:#ffc01d;}

/*-------------------------------------------------
PORTFOLIO CLASSES
-------------------------------------------------*/
.portfolio-content{ width:1020px; margin:0 auto;overflow:hidden; }
.portfolio-categ{text-align:left; margin:0px 0px 30px 0px; font-size:17px; font-weight:normal;  background:url(../images/portfolio-categbg.png) no-repeat; line-height:50px; padding-left:20px; width:1000px; color:#000000;font-family: 'Noto Sans', sans-serif;}
.portfolio-categ li{display:inline;margin-right:10px;}
.image-block{ display:block;position: relative;}
.image-block img{border: 1px solid #ffc01d; background:#000000; padding:5px; border:none;}
.image-block img:hover{}
.portfolio-area li{float: left;overflow: hidden;width:280px; padding:5px; margin-right:30px;}
.home-portfolio-text{margin-top:auto; color:#000000} 
li.active a{ text-decoration:none; color:#000000; font-family:"Noto Sans", sans-serif;}

.portfolio-categ a{ text-decoration:none; color:#000000;}
.portfolio-categ a:hover{ text-decoration:none; color:#000000; font-style:oblique;}

/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form {padding:30px 30px 30px 0px; width:530px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#000000;font-size:16px; font-family:'Noto Sans', sans-serif; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:400px;background:#ffc01d;border:#000000 1px solid; color:#000000;  outline:none; font-family: 'Noto Sans', serif;}
.contact-form .message{padding:10px 10px;width:400px; background:#ffc01d; border:#000000 1px solid;overflow:hidden;height:150px; color:#fff; font-family: 'Noto Sans', serif; font-size:14px; outline:none;}
.contact-form .button{
	background: url(../images/submit-btn.png) no-repeat;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
	border: none;
	margin-left: 100px;
	margin-top: 20px;
	width: 100px;
	height: 40px;
	color: #ffc01d;
}

.address { float:right; width:370px; margin-left:5px;background-color: }
.address .panel { margin-left:auto; border:none; color:#fff}
.address .panel .title h1 {
	color: #000000;
	padding-bottom: 10px;
}
.address .panel .content p span {
	color: #ffc01d;
}
.address .panel .content p a{ text-decoration:none; color:#ffc01d;}
.address .panel .content p a:hover{color:#fff;}

/*-------------------------------------------------
FOOTER SECTION 
-------------------------------------------------*/
.footer-wrapper{background:#ffffff; overflow:hidden; padding-bottom:20px;}
.footer{ width:960px; margin:0 auto; overflow:hidden; margin-top:60px;}
.footer .panel{ float:left; width:300px;}
.footer .panel .title h1{ margin-bottom:30px;}
.footer .panel .contnet{margin-top:20px;}
.footer .panel .contnet ul li{list-style:none;  border-bottom:#ffc01d solid 1px;}
.footer .panel .contnet ul li a{
	color: #ffc01d;
	text-decoration: none;
	line-height: 40px;
	font-size: 14px;
}
.footer .panel .contnet ul li a:hover{
	color: #ffc01d;
}

.footer .panel .contnet img{ float:left; margin-right:20px;}
.footer .panel .contnet spna{ text-decoration:underline; color:#ffc01d;}
.footer .panel .contnet p{
	color: #ffc01d;
	font-size: 14px;
	padding-top: 6px;
}
.phone{ margin-top:20px; padding-bottom:30px; margin-bottom:30px; border-bottom:#ffc01d solid 1px;}
.phone img{ float:left; margin-right:10px;}
.phone h1{ color:#ffffff;}

.services {
    
}



.content {
    color:#000000;
}
